.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.d-flex-center {
  display: flex;
  align-items: center;
}
.f-10 {
  font-size: 10px;
}

.f-14 {
  font-size: 14px;
}

select,
button
{
  padding: 5px;
  border-radius: 5px;
}

/* CSS Reset cho ul và li */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Reset các margins và paddings của các mục danh sách */
li {
  margin: 0;
  padding: 0;
}

/* CSS Reset cho thẻ a */
a {
  color: inherit; /* Màu văn bản kế thừa từ phần tử cha */
  text-decoration: none; /* Không gạch chân */
}

/* Thêm phần tử đang hover */
a:hover {
  color: inherit; /* Màu văn bản kế thừa từ phần tử cha */
  text-decoration: none; /* Không gạch chân */
}

img {
  vertical-align: middle;
}

.ml-2 {
  margin-left: 2px;
}

.fg-2 {
  flex-grow: 2;
}

header {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: fixed;
  width: 100%;
}

header .header-content {
  margin: 0px auto;
  width: 100%;
  max-width: 1200px; 
  padding: 10px;
}

header .header-content .first {
  display: flex;
  justify-content: space-between;
}

header .header-content .first .left {
  display: flex;
  align-items: center;
}

.email {
  margin-left: 20px;
}

header .header-content .first .right {
  display: flex;
  justify-content: flex-end;
}

header .header-content .first .right .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  position: relative;
}

div.social::after {
  content: "";
  width: 2px;
  height: 20px;
  background-color: rgb(209, 209, 209);
  position: absolute;
  top: 50%;
  left: calc(100% + 10px);
  transform: translate3d(-50%, -50%, 0);
}

header .header-content .first .right .social span.facebook,
header .header-content .first .right .social span.twitter,
header .header-content .first .right .social span.google
{
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-content .first .right img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

header .header-content .second {
  width: 100%;
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-content .second .logo {
  display: flex;
  align-items: center;
}

header .header-content .second .logo img {
  width: 50px;
  height: 50px;
}

header .header-content .second .search select{
  background-color: #16366F;
  color: white;
  width: 200px;
  border: 1px solid white;
}

header .header-content .second .search button{
  background-color: #2C54A5;
  color: white;
  border: 1px solid white;
  padding: 6px 15px;
}


/* banner */
.banner {
  width: 100%;
}
.banner img {
  width: inherit;
}

/* menu */
.menu {
  /* width: 100%; */
  /* height: 100px; */
}
.container {
  margin: 0px auto;
  width: 100%;
  max-width: 1200px; 
}
.menu .menu-container {
  
  border-radius: 10px;
  box-shadow: 5px 6px 22px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 6px 22px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 6px 22px -2px rgba(0,0,0,0.75);
}

.menu .menu-container ul{
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  padding: 20px;
  font-weight: bold;
}

/* category */
.category .card {
  position: relative;
  
}

.category .card::after {
  content: '';
  position: absolute;
  /* top: 0; */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  /* opacity: 0.5; */
  background-image: linear-gradient(to bottom,rgba(255,255,255, 0),  rgba(255,0,0,0.5));
}

.category .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* z-index: -1; */
  /* position: relative; */
}

.category .card span {
  position: absolute;
  color: white;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.category .category-container {
  margin: 0px auto;
  width: 100%;
  max-width: 1200px; 
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cột */
  grid-gap: 20px; /* Khoảng cách giữa các item */
  grid-template-areas: "A A B C" "D E F F";
}

/* @media only screen and (max-width: 1000px) {
  .category .category-container {
    grid-template-areas: "A B C" "D E E" "F F F" ;
  }
} */
/* .item1 {
  grid-column-start: 1; 
  grid-column-end: span 2; 
}

.item6 {
  grid-column-start: 3; 
  grid-column-end: span 2; 
} */
.item:nth-child(1) {
  grid-area: A;
}
.item:nth-child(2) {
  grid-area: B;
}
.item:nth-child(3){
  grid-area: C;
}
.item:nth-child(4){
  grid-area: D;
}
.item:nth-child(5){
  grid-area: E;
}
.item:nth-child(6){
  grid-area: F;
}



.category .category-container .card img{
  border-radius: 10px;
}

/* tour_hot */

.tour_hot_container {
  margin: 10px auto;
  width: 100%;
  max-width: 1200px; 
}

.tour_hot_container .topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 24px;
}

.tour_hot_container i {
  margin-bottom: 20px;
  font-size: 42px;
}

.list_tour_hot {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; 
}

.list_tour_hot .card {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 6px 22px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 6px 22px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 6px 22px -2px rgba(0,0,0,0.75);
}

.list_tour_hot .card .img img{
  width: 100%;
}

.list_tour_hot .content {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.list_tour_hot .content .title {
  font-weight: bolder;
  font-size: 20px;
  padding: 20px 10px;
}
.content > * {
  padding: 5px 15px;
}

/* Loại bỏ padding của phần tử cuối cùng */
.content > *:last-child {
  padding-bottom: 0;
}

.wrap_description_time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap_description_time button {
  background-color: #2C54A5;
  color: white;
  border: none;
  padding: 10px;
}
